:root{
    --main-color: #8b6688;
    --secondary-color:#6C63FF;
    --focus-color:#8ba3f0;
    --font-color:#111111;
    --main-color-dark:#111111;
    --font-color-dark:#ebebeb;
}


::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #da4275 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: var(--focus-color);
    border-radius: 100px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--main-color);
    height: 100vh;
    overflow: hidden;
    color: var(--font-color);
}
.sidebar {
    background-color: var(--secondary-color);
    color: var(--font-color);
    width: 250px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-self: flex-start;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar:hover {
    opacity: 1;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: var(--font-color);
    text-decoration: none;
}
.sidebar nav ul li a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.main-content {
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    overflow: auto;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
    /* Add space between spans */
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.dashboard {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.dashboard h1 {
    margin: 0 0 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* Add transition for smooth effect */
}

.card h2 {
    margin: 0 0 10px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Increase shadow on hover */
    transform: translateY(-5px);
    /* Slightly move up on hover */
}

.recent-messages {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.recent-messages:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.recent-messages table {
    width: 100%;
    border-collapse: collapse;
}

.recent-messages table tr {
    border-bottom: 1px solid var(--secondary-color);
}

.recent-messages table td {
    padding: 10px;
}

.recent-messages table img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* animation on hover for text - better use a href with no drag unless you want it to underline from all the div
.sidebar nav ul li a:hover,
.top-nav label:hover,
.top-nav select:hover,
.user-info span:hover,
.dashboard h1:hover span,
.dashboard p:hover,
.card h2:hover,
.card p:hover,
.recent-messages h2:hover,
.recent-messages table td:hover {
    text-decoration: underline;
}*/
.no-link {
    text-decoration: none;
    cursor: default;
    color: inherit; /* Ensure the text color remains the same */
    -webkit-user-drag: none;
}
.no-link:hover{
    text-decoration: underline;
}
/* tooltip on hover */

.nodrag{
    -webkit-user-drag: none;
}


[data-tooltip] {
    position: relative;
    cursor: pointer;
}

/* Tooltip text */
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    /*change these to change position*/
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s, box-shadow 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: 10;
    font-size: 12px;
    margin-left: 10px;
}

/* Show the tooltip on hover */
[data-tooltip]:hover::after {
    opacity: 1;
}